
.image-container {
    position: relative;
    margin: 15% 55% 4% 45%;
    width: 180px;
    min-height: 200px;
    transform-style: preserve-3d;
    transform: perspective(1000px) rotateY(0deg);
    transition: all 1s ease-in-out;
}
.image-container span {
    position: absolute;
    top: 0;
    left:0;
    width:100%;
    transform: rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}
.image-container span img {
    position: absolute;
    top: 0;
    left:0;
    width:100%;

}
.buttons {
    position: relative;
    width: 80%;
}
.btn {
    position: absolute;
    bottom: -80px;
    background-color: rgb(66, 76, 161);
    border: none;
    color: white;
    margin-left:30%;
    width: 130px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    filter:brightness(1.5);
}
.btn:active {
    transform:scale(0.95);
}
.prev {
    left:20%;
}
.next {
    right:20%
}